__pycache__/
.ipynb_checkpoints/
output/
.idea/
.vscode/
datasets/model/*
.VSCodeCounter/
log/
checkpoints/
datasets/raw_data/*
ret/*
jupyter/
demo*

*.npz
*.npy
*.csv
*.pkl
*.h5
*.pt
core*
*.p
*.pickle
*.pyc
*.txt

gpu_task.py
nohup.out
